<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/stylesheets/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/stylesheets/admin.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container-fluid">
    <div class="">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/admin/index}">Пользователи</a></li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">Справочники</li>
                <li class="active"><a href="/admin/errors.html">Ошибки</a></li>
                <li><a href="/admin/kaps.html">КАП</a></li>
            </ul>
        </div>

        <div th:if="${#lists.isEmpty(list)}" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">Нет ошибок
        </div>
        <div th:if="${not #lists.isEmpty(list)}" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Ошибки</h1>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Форма</th>
                        <th>Код</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${list}">
                        <td><a th:text="${row.formName}" th:href="@{~/admin/error(id=${row.id})}"></a></td>
                        <td><a th:text="${row.elementName}" th:href="@{~/admin/error(id=${row.id})}"></a></td>
                        <td><a th:text="${row.description}" th:href="@{~/admin/error(id=${row.id})}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>