<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/stylesheets/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../assets/stylesheets/admin.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container-fluid">
    <div class="">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/admin/index}">Пользователи</a></li>
            </ul>
            <ul class="nav nav-list">
                <li class="nav-header">Справочники</li>
                <li class="active"><a href="/admin/errors.html">Ошибки</a></li>
                <li><a href="/admin/kaps.html">КАП</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Ошибка с формы <span th:text="${error.formName}"></span>, элемент <span th:text="${error.elementName}"></span></h1>

            <div class="user-content">
                <form class="form-user form-horizontal" th:action="@{/admin/error(id=${id})}" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="description">Описание:</label>

                        <div class="col-xs-9">
                            <textarea class="form-control" id="description" name="description" rows="3"
                                      th:text="${error.description}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Сохранить"/>
                            <a th:href="@{~/admin/errors}" class="btn btn-default" value="Назад">Назад</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>