<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/declaration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container">
    <div class="row">
        <h2>Подразделения</h2>
    </div>
    <br/>

    <form class="form-recvisits form-horizontal" action="/admin/subdivision" method="post">
        <input type="hidden" th:value="${redirectUrl}" name="redirectUrl" id="redirectUrl"/>
        <input type="hidden" th:value="${userId}" name="userId" id="userId"/>
        <div class="form-group">
            <label class="control-label col-xs-3" for="sdKpp">КПП:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="sdKpp" name="sdKpp" placeholder="КПП"
                       required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="subjectCode">Код субьекта:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="subjectCode" name="subjectCode" placeholder="Код субьекта"
                       required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="address">Адрес:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="address" name="address" placeholder="Адрес"
                       required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Добавить"/>
                <a th:href="@{/admin/user(id=${userId})}" class="btn btn-default">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>