<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/declaration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container">
    <div class="row">
        <h2>Лицензия</h2>
    </div>
    <br/>
    <form class="form-recvisits form-horizontal" action="/userinfo/license" method="post">
        <input th:type="hidden" th:value="@{license.id}"/>
        <div class="form-group">
            <label class="control-label col-xs-3" for="subdivisionId">КПП:</label>

            <div class="col-xs-9">
                <select name="subdivisionId" id="subdivisionId">
                    <option th:each="subdivision : ${subdivisionList}"
                            th:value="${subdivision.id}"
                            th:text="${subdivision.kpp}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="workType">Вид деятельности:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="workType" name="workType"
                       placeholder="Вид деятельности" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="dateStart">Дата выдачи:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="dateStart" name="dateStart" placeholder="Дата выдачи"
                       required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="dateEnd">Дата окончания:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="dateEnd" name="dateEnd"
                       placeholder="Дата окончания" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="number">Номер лицензии:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="number" name="number"
                       placeholder="Номер лицензии" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="numberBlank">Номер бланка:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="numberBlank" name="numberBlank"
                       placeholder="Номер бланка" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Добавить"/>
                <a th:href="@{~/userinfo#license}" class="btn btn-default">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
