<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/declaration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">Проверьте почту</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 ALCUBE &middot; <a href="agreements.html">Пользовательское соглашение</a></p>
    </div>
</footer>
<script type="text/javascript" data-main="../assets/javascripts/main.js" src="../assets/vendor/requirejs/require.js"/>
</body>
</html>