<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/declaration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#declarations" aria-controls="declarations" role="tab" data-toggle="tab">
                    Загрузка деклараций
                </a>
            </li>
            <li role="presentation">
                <a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">
                    Отчеты по сверке
                </a>
            </li>
            <li role="presentation">
                <a href="#revise" aria-controls="revise" role="tab" data-toggle="tab">
                    Выборочная сверка
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="declarations">
                <h2>Загрузка деклараций</h2>

                <div class="upload-wrapper">
                    <div class="form-wrapper">
                        <form action="/validate/load" method="post" enctype="multipart/form-data" id="uploadForm">
                            <div class="form-group">
                                <label for="fileInput">Выберите файл декларации</label>
                                <input type="file" id="fileInput" name="file"/>

                                <p class="help-block">Загрузка деклараций D5, D6, D7</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Загрузить</button>
                        </form>
                    </div>
                    <div class="load-wrapper">
                        Идёт загрузка...
                    </div>
                </div>
                <hr/>
                <h2>Загруженные декларации</h2>
                <table class="table table-striped table-hover declarations-table">
                    <thead>
                    <tr>
                        <th>Форма</th>
                        <th>Год</th>
                        <th>Квартал</th>
                        <th>Время загрузки</th>
                        <!--<th>Статус</th>-->
                        <th>Анализ</th>
                        <th>Сверка</th>
                        <th>Выборочная сверка</th>
                        <th>Статус сверки</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="tableFormBody">
                    <tr class="blank">
                        <td>{{form}}</td>
                        <td>{{year}}</td>
                        <td>{{quarter}}</td>
                        <td>{{date}}</td>
                        <!--<td>{{status}}</td>-->
                        <td>{{analyze}}</td>
                        <td><input type="checkbox" name="revice"/></td>
                        <td><input type="checkbox" name="choosedRevice"/></td>
                        <td>{{reviseStatus}}</td>
                        <td>
                            <input type="hidden" name="id" value="{{id}}"/>
                            <button type="button" name="buttonrow" class="btn btn-primary">Сохранить</button>
                            <button type="button" name="revise_delete" class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                    <tr th:id="${row.id}" th:each="row : ${list}" th:classappend="${row.validateState}? 'success'">
                        <td>
                            <a href="#"
                               th:href="@{'/documenthistoru/'+${row.id}}"
                               th:text="${row.type}">{{type}}</a>
                        </td>

                        <td th:text="${row.year}">{{date}}</td>
                        <td th:text="${row.quarter}">{{date}}</td>
                        <td th:text="${row.createAt}">{{date}}</td>
                        <!--<td th:text="${row.validateState}">{{status}}</td>-->
                        <td id="analyze">
                            <a th:if="${!row.validateState}" href="#" data-toggle="modal" data-target="#orderModal"
                               style="cursor: pointer">Ошибки</a>

                            <div th:if="${row.validateState}">Нет ошибок</div>
                            <div hidden="hidden" th:utext="${row.description}">{{analyze}}</div>
                        </td>

                        <td><input type="checkbox" name="revice"
                                   th:disabled="${!row.validateState || row.alreadyRevised}"
                                   th:checked="${row.fullReviseState}"/></td>
                        <td><input type="checkbox" name="choosedRevice" th:disabled="${!row.validateState}"/></td>
                        <td th:text="${row.reviseState}"></td>
                        <td>
                            <input type="hidden" name="id" th:value="${row.id}"/>
                            <button type="button" name="buttonrow" class="btn btn-primary"
                                    th:disabled="${!row.validateState}" th:attr="data-id=${row.id}">Сохранить
                            </button>
                            <button type="button" name="revise_delete" class="btn btn-danger"
                                    th:attr="data-id=${row.id}">Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div role="tabpanel" class="tab-pane" id="reports">
                <h2>Отчеты по сверке</h2>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                    <div th:each="reviseItem : ${revises}">


                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a th:href="@{'#revise_'+${reviseItem.id}}" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#"
                                       aria-expanded="true" aria-controls="collapseOne">

                                        <span th:text="${reviseItem.documentHistory.year}"></span>&nbsp;
                                        <span th:text="${reviseItem.documentHistory.quarter}"></span>&nbsp;


                                        <span th:text="${reviseItem.documentHistory.formName}"></span>&nbsp;
                                        Статус сверки:
                                        <span th:text="${reviseItem.reviseState}"></span>
<span th:if="${reviseItem.description!=null}"> Описание:
                        <span th:text="${reviseItem.description}"></span>
                        </span>

                                    </a>
                                </h4>
                            </div>
                            <div th:id="@{'revise_'+${reviseItem.id}}" class="panel-collapse collapse in"
                                 role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">


                                    <table class="table table-bordered"
                                           th:if="${not #lists.isEmpty(reviseItem.reviseLogs)}">
                                        <thead>

                                        <tr>
                                            <th rowspan="3">Код АП</th>
                                            <th rowspan="3">Производитель ИНН</th>
                                            <th rowspan="3">Производитель КПП</th>
                                            <th colspan="7">ЮЛ1</th>
                                            <th rowspan="3">Дельта</th>
                                            <th colspan="6">ЮЛ2</th>
                                        </tr>
                                        <tr>
                                            <th>ИНН</th>
                                            <th>КПП</th>
                                            <th>ТТН</th>
                                            <th>ГТД</th>
                                            <th>Тип</th>
                                            <th>Дата</th>
                                            <th>Обьем</th>

                                            <!-- <th>Код АП</th>
                                             <th>Производитель ИНН</th>
                                             <th>Производитель КПП</th>-->
                                            <th>ИНН</th>
                                            <th>КПП</th>
                                             <th>ТТН</th>
                                            <th>ГТД</th>
                                            <!--   <th>Тип</th>-->
                                            <th>Дата</th>
                                            <th>Обьем</th>
                                        </tr>
                                        </thead>

                                        <tr th:each="reviseLogItem : ${reviseItem.reviseLogs}">
                                            <td th:text="${reviseLogItem.productCode}"></td>
                                            <td th:text="${reviseLogItem.producerInn}"></td>
                                            <td th:text="${reviseLogItem.producerKpp}"></td>
                                            <td th:text="${reviseLogItem.Inn}"></td>
                                            <td th:text="${reviseLogItem.Kpp}"></td>
                                            <td th:text="${reviseLogItem.numberTTN}"></td>
                                            <td th:text="${reviseLogItem.numberGTD}"></td>
                                            <td th:text="${reviseLogItem.type}"></td>
                                            <td th:text="${reviseLogItem.date} ? ${#dates.format(reviseLogItem.date, 'dd.MMM.yyyy')}"></td>
                                            <td th:text="${reviseLogItem.volume} ? ${#numbers.formatDecimal(reviseLogItem.volume, 0, 'DEFAULT', 4, 'DEFAULT')} : ''"></td>

                                            <td th:text="${reviseLogItem.delta} ? ${#numbers.formatDecimal(reviseLogItem.delta, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>

                                            <!--  <td th:text="${reviseLogItem.ur2ProductCode}"></td>
                                              <td th:text="${reviseLogItem.ur2ProducerInn}"></td>
                                              <td th:text="${reviseLogItem.ur2ProducerKpp}"></td>
                                            <td th:text="${reviseLogItem.ur2KontragentInn}"></td>
                                            <td th:text="${reviseLogItem.ur2KontragentKpp}"></td>-->
                                            <td th:text="${reviseLogItem.kontragentInn}"></td>
                                            <td th:text="${reviseLogItem.kontragentKpp}"></td>
                                             <td th:text="${reviseLogItem.ur2NumberTTN}"></td>
                                            <td th:text="${reviseLogItem.ur2NumberGTD}"></td>
                                            <!--   <td th:text="${reviseLogItem.ur2Type}"></td>-->
                                            <td th:text="${reviseLogItem.ur2Date} ? ${#dates.format(reviseLogItem.ur2Date, 'dd.MMM.yyyy')}"></td>
                                            <td th:text="${reviseLogItem.ur2Volume} ? ${#numbers.formatDecimal(reviseLogItem.ur2Volume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                        </tr>

                                    </table>

                                    <table class="table table-bordered"
                                           th:if="${not #lists.isEmpty(reviseItem.reviseD5Logs)}">
                                        <thead>

                                        <tr>
                                            <th rowspan="2">Код АП</th>
                                            <th colspan="2">Производитель</th>

                                            <th colspan="2">D6</th>
                                            <th rowspan="2">Дельта</th>
                                            <th colspan="6">D5</th>
                                            <th rowspan="2">Дельта</th>
                                            <th colspan="2">D7</th>


                                        </tr>
                                        <tr>
                                            <th>ИНН</th>
                                            <th>КПП</th>

                                            <th>Расход</th>
                                            <th>Возврат</th>

                                            <th>Расход всего (дал)</th>
                                            <th>Прочий расход (дал)</th>
                                            <th>Возврат поставщикам (дал)</th>

                                            <th>Поступление всего (дал)</th>
                                            <th>Прочие поступления (дал)</th>
                                            <th>Возврат продукции (дал)</th>

                                            <th>Возврат</th>
                                            <th>Закупка</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="reviseD5LogItem : ${reviseItem.reviseD5Logs}">
                                            <td th:text="${reviseD5LogItem.productCode}"></td>
                                            <td th:text="${reviseD5LogItem.producerInn}"></td>
                                            <td th:text="${reviseD5LogItem.producerKpp}"></td>
                                            <td th:text="${reviseD5LogItem.releaseD6Volume} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseD6Volume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.releaseReturnD6Volume} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseReturnD6Volume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.releaseDelta} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseDelta, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>

                                            <td th:text="${reviseD5LogItem.consumptionVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.consumptionOherVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionOherVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.consumptionReturnKontragentVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionReturnKontragentVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>

                                            <td th:text="${reviseD5LogItem.releaseVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.releaseOtherVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseOtherVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.releaseReturnKontragentVolume} ? ${#numbers.formatDecimal(reviseD5LogItem.releaseReturnKontragentVolume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>

                                            <td th:text="${reviseD5LogItem.consumptionDelta} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionDelta, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.consumptionReturnD7Volume} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionReturnD7Volume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                            <td th:text="${reviseD5LogItem.consumptionD7Volume} ? ${#numbers.formatDecimal(reviseD5LogItem.consumptionD7Volume, 0, 'DEFAULT', 4, 'DEFAULT')}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="revise">
                <h2>Выборочная сверка</h2>
            </div>
        </div>
    </div>
</div>
<div id="orderModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ошибки</h4>
            </div>
            <div class="modal-body">
                <p id="orderDetails">One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 ALCUBE &middot; <a href="agreements.html">Пользовательское соглашение</a></p>
    </div>
</footer>
<script type="text/javascript" data-main="../assets/javascripts/main.js"
        th:src="@{../assets/vendor/requirejs/require.js}">
</script>
</body>
</html>