<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/main.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ALCUBE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="help.html">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="article-header lead">
        <h1>Заявка на регистрацию</h1>
    </div>
    <form class="form-registration form-horizontal" action="/registration" method="post">
        <div class="form-group">
            <label class="control-label col-xs-3" for="lastINN">ИНН Организации</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="lastINN" required="required" pattern="^[ 0-9]+$" name="inn"
                       placeholder="Введите ИНН"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="inputEmail">Email:</label>

            <div class="col-xs-9">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Введите Email"
                       required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="password">Пароль:</label>

            <div class="col-xs-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="Пароль"
                       required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="kpp">КПП Организации:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="kpp" pattern="^[ 0-9]+$" name="kpp"
                       placeholder="Введите КПП" required="required"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" for="orgName">Имя Организации:</label>

            <div class="col-xs-9">
                <input type="text" class="form-control" id="orgName" name="orgName"
                       placeholder="Введите Имя организации" required="required"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-3" for="phoneNumber" required="required">Телефон:</label>

            <div class="col-xs-9">
                <input type="phoneNumber" class="form-control" id="phoneNumber" name="phoneNumber"
                       placeholder="Введите Телефон в формате +7(XXX)XXX-XX-XX" required="required"/>
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label class="col-xs-3 control-label">Тип организации</label>-->

        <!--<div class="col-xs-9">-->
        <!--<select name="orgType" id="#" class="form-control">-->
        <!--<option value="unknown">Выберите из списка...</option>-->
        <!--<option value="opt">Оптовая</option>-->
        <!--<option value="roznica">Розничная</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <label class="checkbox-inline">
                    <input type="checkbox" value="agree" required="required"/>
                    Регистрируясь, Вы подтверждаете своё согласие с
                    <a href="agreements.html" target="blank">Пользовательским соглашением</a>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <label class="checkbox-inline">
                    <input type="checkbox" value="agree" required="required"/>
                    Я понимаю, что портал работает только с оптовыми клиентами
                </label>
            </div>
        </div>
        <div  th:if="${#httpServletRequest.getParameter('message') != null}" class="form-group alert alert-danger" role="alert" >
            <div  class="col-xs-offset-3 col-xs-9">  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Пользователь с таким почтовым адресом или ИНН уже существует
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" class="btn btn-primary" value="Отправить заявку"/>
                <input type="reset" class="btn btn-default" value="Очистить форму"/>
            </div>
        </div>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 ALCUBE &middot; <a href="agreements.html">Пользовательское соглашение</a></p>
    </div>
</footer>
<script type="text/javascript" data-main="../assets/javascripts/main.js"
        th:href="@{../assets/vendor/requirejs/require.js}">
</script>
</body>
</html>