<!DOCTYPE html>
<html auto-config="true" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ALCUBE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="help.html">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <form class="form-signin" th:action="@{/user/savePassword}" method="post">
        <h2 class="form-signin-heading">Авторизация</h2>

        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Введите новый пароль"
                   required="required" autofocus="autofocus"/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    </form>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 ALCUBE &middot; <a href="agreements.html">Пользовательское соглашение</a></p>
    </div>
</footer>
<script type="text/javascript" data-main="../assets/javascripts/main.js" src="../assets/vendor/requirejs/require.js"/>
</body>
</html>