<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alcube</title>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/vendor/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/declaration.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/stylesheets/footer.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="fragments/menu :: menu">&nbsp;</div>
<div class="container">
    <div class="row">
        <h2>Регистрационные данные</h2>
    </div>
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">
                    Контактная информация
                </a>
            </li>
            <li role="presentation">
                <a href="#recvisits" aria-controls="recvisits" role="tab" data-toggle="tab">
                    Реквезиты организации
                </a>
            </li>
            <li role="presentation">
                <a href="#changePassword" aria-controls="changePassword" role="tab" data-toggle="tab">
                    Сменить пароль
                </a>
            </li>
            <!--<li role="presentation">-->
                <!--<a href="#subdivision" aria-controls="subdivision" role="tab" data-toggle="tab">-->
                    <!--Данные обособленного подразделения-->
                <!--</a>-->
            <!--</li>-->
            <!--<li role="presentation">-->
                <!--<a href="#license" aria-controls="license" role="tab" data-toggle="tab">-->
                    <!--Данные лицензии-->
                <!--</a>-->
            <!--</li>-->
            <!--<li role="presentation">-->
                <!--<a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">-->
                    <!--Уведомления-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <div class="tab-content office-forms">
            <div role="tabpanel" class="tab-pane active" id="contacts">
                <p>

                <form class="form-contacts form-horizontal" action="/userinfo/contact" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="fio">ФИО:</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="fio" name="fio" placeholder="ФИО"
                                   required="required" th:value="${fio}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="email">Email:</label>

                        <div class="col-xs-9">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                   required="required" th:value="${email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="phoneNumber">Телефон:</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                   placeholder="Телефон" required="required" th:value="${phoneNumber}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Отправить"/>
                        </div>
                    </div>
                </form>
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="recvisits">
                <p>

                <form class="form-recvisits form-horizontal" action="/userinfo/organisation" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="orgName">Имя организации:</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="orgName" name="orgName"
                                   placeholder="Имя организации" required="required" th:value="${orgName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="orgInn">ИНН:</label>

                        <div class="col-xs-9">
                            <div type="text" class="form-control" id="orgInn" name="orgInn" placeholder="ИНН"
                                   required="required" th:text="${orgInn}" disabled="disabled" title="Если вы хотите изменить ИНН, обратитесь в службу поддержки support@alcube.ru"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="orgKpp">КПП:</label>

                        <div class="col-xs-9">
                            <input type="text" class="form-control" id="orgKpp" name="orgKpp" placeholder="КПП"
                                   required="required" th:value="${orgKpp}"/>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="fioDir">ФИО директора:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<input type="text" class="form-control" id="fioDir" name="fioDir"-->
                                   <!--placeholder="ФИО директора" required="required" th:value="${fioDir}"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="fioBuh">ФИО бухгалтера:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<input type="text" class="form-control" id="fioBuh" name="fioBuh"-->
                                   <!--placeholder="ФИО бухгалтера" required="required" th:value="${fioBuh}"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="subjectCode">Код субьекта:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<input type="text" class="form-control" id="subjectCode" name="subjectCode"-->
                                   <!--placeholder="Код субьекта" required="required" th:value="${subjectCode}"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="orgAddress">Юр.адрес:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<input type="text" class="form-control" id="orgAddress" name="orgAddress"-->
                                   <!--placeholder="Юр.адрес" required="required" th:value="${orgAddress}"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="orgEmail">Почтовый адрес:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<input type="text" class="form-control" id="orgEmail" name="orgEmail"-->
                                   <!--placeholder="Почтовый адрес" required="required" th:value="${orgEmail}"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Отправить"/>
                        </div>
                    </div>
                </form>
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="changePassword">
                <p>
                <form class="form-recvisits form-horizontal" action="/userinfo/changePassword" method="post">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="password">Пароль:</label>

                        <div class="col-xs-9">
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Новый пароль"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Отправить"/>
                        </div>
                    </div>
                </form>
                </p>
            </div>
            <!--<div role="tabpanel" class="tab-pane" id="subdivision">-->
                <!--<p>-->
                    <!--<br/>-->

                <!--<div th:if="${#lists.isEmpty(subdivisionList)}">Нет подразделений-->
                    <!--<br/>-->
                    <!--<br/>-->
                <!--<a th:href="@{userinfo/subdivision(redirectUrl='/userinfo')}" class="btn btn-primary">Добавить</a>-->
                <!--</div>-->

                <!--<div th:if="${not #lists.isEmpty(subdivisionList)}">-->

                    <!--<div class="table-responsive">-->
                        <!--<table class="table table-striped table-hover">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>КПП</th>-->
                                <!--<th>Код субъекта</th>-->
                                <!--<th>Адрес</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr th:each="row : ${subdivisionList}">-->
                                <!--<td th:text="${row.kpp}"></td>-->
                                <!--<td th:text="${row.subjectCode}"></td>-->
                                <!--<td th:text="${row.address}"></td>-->
                                <!--&lt;!&ndash;<td><a th:text="${row.formName}" th:href="@{~/admin/error(id=${row.id})}"></a></td>&ndash;&gt;-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--<a th:href="@{userinfo/subdivision(redirectUrl='/userinfo')}" class="btn btn-primary">Добавить</a>-->
                <!--</div>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div role="tabpanel" class="tab-pane" id="license">-->
                <!--<br/>-->

                <!--<div th:if="${#lists.isEmpty(licenseList)}">Нет лицензий-->
                    <!--<br/>-->
                    <!--<br/>-->
                    <!--<a th:href="@{userinfo/license}"-->
                       <!--class="btn btn-primary">Добавить</a>-->
                <!--</div>-->

                <!--<div th:if="${not #lists.isEmpty(licenseList)}">-->
                    <!--<div class="table-responsive">-->
                        <!--<table class="table table-striped table-hover">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>КПП</th>-->
                                <!--<th>Вид деятельности</th>-->
                                <!--<th>Дата выдачи</th>-->
                                <!--<th>Дата окончания</th>-->
                                <!--<th>Дата номер лицензии</th>-->
                                <!--<th>Дата номер бланка</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr th:each="license : ${licenseList}">-->
                                <!--<td th:text="${license.subdivision.kpp}"></td>-->
                                <!--<td th:text="${license.workType}"></td>-->
                                <!--<td th:text="${license.dateStart}"></td>-->
                                <!--<td th:text="${license.dateEnd}"></td>-->
                                <!--<td th:text="${license.number}"></td>-->
                                <!--<td th:text="${license.numberBlank}"></td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<br/>-->
                        <!--<a th:href="@{userinfo/license}"-->
                           <!--class="btn btn-primary">Добавить</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div role="tabpanel" class="tab-pane" id="notification">-->
                <!--<p>-->

                <!--<form class="form-recvisits form-horizontal" action="" method="post">-->
                    <!--<div class="form-group">-->
                        <!--<label class="control-label col-xs-3" for="notification_body">Оповещение:</label>-->

                        <!--<div class="col-xs-9">-->
                            <!--<textarea class="form-control" id="notification_body" rows="3"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-xs-offset-3 col-xs-9">-->
                            <!--<input type="submit" class="btn btn-primary" value="Сохранить"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
                <!--</p>-->
            <!--</div>-->
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>&copy; 2015 ALCUBE &middot; <a href="agreements.html">Пользовательское соглашение</a></p>
    </div>
</footer>
<script type="text/javascript" data-main="../assets/javascripts/main.js"
        th:src="@{../assets/vendor/requirejs/require.js}">
</script>
</body>
</html>