<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ALCUBE potral</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}"/>
    <script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/loadValidateHistory.js}"></script>

</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ALCUBE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Помощь</a></li>
                        <li><a href="#">Аккаунт</a></li>

                        <li><a href="index_вход.html">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<br/>
<br/>

<div class="container-fluid">
    <h3>Загрузка деклараций</h3>

    <form action="#" th:action="@{/validate/load}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputFile">Выбирете файл</label>
            <input type="file" id="exampleInputFile" name="file"/>

            <p class="help-block">Загрузка деклараций D5, D6, D7</p>
        </div>
        <button type="submit" class="btn btn-default">Загрузить</button>
    </form>

</div>


<div class="container-fluid">
    <h2>Загруженные декларации</h2>
    <table class="table table-bordered" id="documentHistory">
        <tr>
            <td>Имя файла</td>
            <td>Год</td>
            <td>Квартал</td>
            <td>Форма декларации</td>
            <td>Дата и время загрузки </td>
            <td>Статус проверки</td>
            <td>Анализ загрузки</td>
            <td>Тип сверки</td>
            <td></td>
        </tr>

        <tr th:each="row : ${list}" th:classappend="${row.validateState}? 'success'">

            <td th:text="${row.fileName}">fileName</td>
            <td th:text="${row.year}">validateState</td>
            <td th:text="${row.quarter}">validateState</td>
            <td th:text="${row.type}">type</td>
            <td th:text="${row.createAt}">createAt</td>
            <td th:text="${row.validateState}">validateState</td>
            <td th:text="${row.description}">description</td>
            <td><input type="checkbox" name="option1" value="a2"/>Сверка<br/>
                <input type="checkbox" name="option2" value="a3"/>Выборочная сверка<br/>
            </td>
            <td>
                <button type="button" class="btn btn-default">сохранить</button>
            </td>
        </tr>
    </table>
</div>

</body>
</html>