<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div class="navbar-wrapper" th:fragment="menu">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ALCUBE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/admin/index}" sec:authorize="hasRole('ROLE_ADMIN')">Админка</a></li>
                        <li><a href="help.html">Помощь</a></li>
                        <li><a href="userinfo.html" th:href="@{/userinfo}">
                            <div sec:authentication="name"></div>
                        </a></li>
                        <li th:fragment="logout" sec:authorize="isAuthenticated()"><a href="index.html"
                                                                                      th:href="@{/j_spring_security_logout}">Выход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</html>